.wrapper {
    width: 90%;
    display: flex;
    justify-content: center;
    gap: 10px;
}

.input_wrapper {
    width: 70%;
    margin: 0;
}

.button_wrapper {
    width: 25%;
    margin: 0;
}

.input {
   width: 100%; 
}

.button {
    width: 100%; 
 }